.indonesia-page {
  background-image: url('/public/images/map.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px;
}

.card-custom {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card-custom:hover {
  transform: scale(1.03); /* Animasi zoom saat hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

