.programming-page {
  background-image: url("C:\1. Kuliah Rayhan\Hacktiv8-MSIB\capstone\news-web-app\src\components\wp13662844-deap-computer-program-wallpapers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px;
}
